<a href="https://colab.research.google.com/github/a-forty-two/diamler_17_jan/blob/main/01_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# pandas convert dictionary keys into columns
data = {'age':[1,2,3,4,55,66,77,8,9,91],
        'empid': range(10)}

In [2]:
import pandas as pd
df = pd.DataFrame(data)

In [4]:
df.head(3)

   age  empid
0    1      0
1    2      1
2    3      2

In [5]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [6]:
df.set_index('empid')

       age
empid
0        1
1        2
2        3
3        4
4       55
5       66
6       77
7        8
8        9
9       91

In [7]:
df.head()
# our changes didnt reflect

   age  empid
0    1      0
1    2      1
2    3      2
3    4      3
4   55      4

In [8]:
# Strings, DS- linkedlist and trees, tables, df->always a new dataset is
# created, and old one discarded if there is any edit or change!
df2 = df.set_index('empid')
df2.head()
# new df saved in df2

       age
empid
0        1
1        2
2        3
3        4
4       55

In [9]:
df.set_index('empid', inplace=True) #inplace-> dont create a new structure,
# change value in existing df

In [10]:
df.head(3)

       age
empid
0        1
1        2
2        3