<a href="https://colab.research.google.com/github/a-forty-two/diamler_17_jan/blob/main/PythonFundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def fnname(args1, args2):
  # do something
  return args1+args2

In [2]:
# Series and Propagation
# constructor styles:
#  1) __init__ -> initialization very similar to C++ style constructors 
#  2) __iter__ -> init as an ITERATOR instead 
# next = num_prev1 + num_prev2 
class Fibonacci:
  def __iter__(this): # first arg is ALWAYS an object referring to itself
    this.n1 = -1
    this.n2 = 1
    return this 
  def __next__(this):
    this.n3 = this.n1 + this.n2
    this.n1 = this.n2
    this.n2 = this.n3 
    return this.n3

In [7]:
sequence = Fibonacci()
seq = iter(sequence)

In [8]:
next(seq)

0

In [9]:
for i in range(20):
  print(next(seq), end=' ')

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

In [10]:
# no polymorphism:
def pikachu(abc):
  return abc+1

def pikachu():
  print("bye bye world")

In [11]:
# we expect error on below
pikachu(123)

TypeError: ignored

In [13]:
pikachu()

bye bye world

In [14]:
# default args can be used
def pikachu(a, b=1):
  print(b+a)

In [17]:
pikachu(42,1)

43

In [16]:
pikachu(42)

43

In [18]:
# 1 line execution capability!
# syntax
# var_name = lambda inputs : what to do with those inputs

pikachu = lambda x,y: x**y

In [19]:
pikachu(5,2)

25

In [26]:
def powers(y):
  return lambda x: x**y

In [27]:
square_power = powers(2) # y is made constant to 2
cube_power = powers(3) # y is made constant to 3
# now we have 2 LAMBDA functions!

In [28]:
square_power(6)

36

In [29]:
cube_power(3)

27

In [30]:
# Lambdas-> help with massive transformation logics

In [31]:
# datasets-> strings 
# Mumbai, Delhi, Bengaluru -> 0,1,2 

# LABEL ENCODING -> strings into numbers! 
# FILTER the data, dictionary

#

In [40]:
dx = ['Mum','Del','Ben','Mum','Del','Ben','Mum','Del','Ben','Mum','Del','Ben']

In [33]:
dictionary = {'Mum':0,'Del':1,'Ben':2}

In [34]:
tx = lambda x : dictionary[x]

In [42]:
import numpy as np
dx = map(tx,dx)

In [44]:
list(dx)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]